/* Footer */

footer{
    background-color: #424558;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    text-align: center;
    color: #CCC;
}

footer p {
    padding: 7px;
    margin: 0px;
    line-height: 100%;
}